@import 'variables';

.enrich-calendar {
    .calendar-div {
        .month-view {
            display: flex;
            // gap: 2%;
            flex-wrap: wrap;
            row-gap: 12px;
            align-items: center;
            justify-content: space-around;

            .date {
                display: block;
                width: 13.6%;
                max-height: 276px;
                background-color: var(--color-text-heading);
                color: $color-white;
                border-radius: 10px;
                overflow: hidden;

                .day {
                    color: var(--color-text-heading);
                }

                .date-value {
                    font-size: 40px;
                    font-weight: 500;
                    text-align: left;
                    color: $color-white;
                    margin: 6px 12px;
                }

                .appointments {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    padding: 0;

                    .appointment-list {
                        list-style: none;
                        padding-inline-start: 0px;
                        margin-bottom: 0;
                        height: 180px;
                        overflow: auto;

                        .scheduled-appointment {
                            padding: 6px 0;
                            overflow: hidden;
                            margin-bottom: 12px;

                            &:nth-child(odd) {
                                background-color: $calendar-green;
                            }

                            &:nth-child(even) {
                                background-color: $calendar-sand-purple;
                            }

                            .data-div {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                padding: 0 12px;
                                margin-bottom: 6px;

                                .instructors {
                                    display: flex;

                                    a {
                                        &:first-child {
                                            .instructor-avatar {
                                                margin-left: 0;
                                            }
                                        }
                                    }

                                    .instructor-avatar {
                                        width: 24px;
                                        height: 24px;
                                        border-radius: 50%;
                                        border: 1px solid $color-white;
                                        margin-left: -8px;
                                        top: 0;
                                        transition: top ease 0.5s;
                                        position: relative;

                                        &:hover {
                                            top: -12px;
                                            z-index: 1;
                                        }
                                    }
                                }
                            }

                            .scheduled-sport {
                                display: flex;
                                align-items: center;
                                gap: 6px;
                                padding: 0 12px;
                                overflow: hidden;

                                .sport-icon-div {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    min-width: 32px;
                                    min-height: 32px;
                                    max-width: 32px;
                                    max-height: 32px;
                                    padding: 6px;
                                    background-color: #00000040;
                                    border-radius: 10px;

                                    img {
                                        width: 20px;
                                        height: 20px;
                                    }
                                }
                            }

                            .sport-content {
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;

                                .sport-title {
                                    font-size: 12px;
                                }

                                .sport-address {
                                    display: flex;
                                    align-items: center;
                                    gap: 2px;

                                    svg {
                                        width: 12px;
                                        height: 12px;
                                    }

                                    span {
                                        font-size: 10px;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        display: -webkit-box;
                                        -webkit-line-clamp: 1;
                                        -webkit-box-orient: vertical;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .disabled {
                height: 252px;
                background-color: var(--color-text);
                opacity: 0.5;
            }
        }
    }
}

.badge-calendar-green {
    background-color: $calendar-green;
}

.badge-calendar-sand-purple {
    background-color: $calendar-sand-purple;
}

.badge-calendar-sand-red {
    background-color: $calendar-sand-red;
}

.calendar-top-bar {
    .calendar-month {
        color: var(--color-text-heading);
    }
}