@import 'variables';


.login-wrapper {
    height: 100vh;
    padding: 0;
    margin: 0;


    .login-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 2.5rem;
        height: 100vh;
        background-color: $color-white;

        .logo-div {
            display: flex;
            width: 100%;
            justify-content: flex-start;

            img {
                max-height: 3.75rem;
            }

        }

        @media (max-width: 768px) {
            min-height: 100vh;
            height: auto;
            padding: 1rem;
        }

        .login-details {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .welcome-text-div {
                display: flex;
                flex-direction: column;
                gap: 0.75rem;
                margin-bottom: 1.5rem;

                .welcome-title {
                    font-size: 2.25rem;
                    font-weight: 700;
                    color: $text-color-dark;
                    line-height: 3.375rem;
                    margin-bottom: 0;
                }

                .supporting-text {
                    font-size: 1.125rem;
                    font-weight: 400;
                    color: $text-color-light;
                    margin-bottom: 0;
                }

                .btn-transparent {
                    color: var(--color-text);
                    border-radius: 0.5rem;
                    padding: 0;

                    &:active,
                    &:focus,
                    &:hover {
                        outline: none;
                        border-color: transparent;
                        background-color: var(--color-page-background);
                        color: $text-color-dark;
                    }
                }
            }

            .submit {
                max-width: 22.375rem;

                @media (max-width:580px) {
                    max-width: 100%;;
                }
            }

            .password-div {
                position: relative;

                .enrich-form-control {
                    padding-right: 3.75rem;
                }

                .btn-transparent {
                    position: absolute;
                    right: 12px;
                    top: 50%;
                    bottom: 50%;
                    transform: translateY(-40%);

                    &:active,
                    &:focus {
                        outline: none;
                        border-color: transparent;
                    }

                    #svgshow,
                    #svgshow2 {
                        display: none;
                        margin-top: 2px;
                    }

                    #svghide,
                    #svghide2 {
                        margin-top: 2px;
                    }
                }
            }

            a {
                color: var(--color-primary);
            }
        }

        .t-and-c-div {
            display: flex;
            font-size: 0.875rem;
            font-weight: 400;
            color: $text-color-light;
            line-height: 1.3125rem;
            text-align: center;
        }
    }

    .image-div {
        display: flex;
        flex-direction: column;
        text-align: center;
        color: $color-white;
        align-items: center;
        justify-content: center;
        background-color: var(--color-primary);
        padding: 2.5rem 4.6875rem;
        height: 100vh;

        img {
            max-width: 100%;
            max-height: 85%;
        }

        .data-div {
            .data-title {
                font-size: 2rem;
                font-weight: 700;
                line-height: 3rem;
                margin-bottom: 0;
            }

            .data-info {
                font-size: 1rem;
                font-weight: 500;
                line-height: 1.5rem;
                margin-bottom: 0;
            }
        }
    }
}