@import 'variables';

.modal-backdrop.show {
    // display: none;
}

.enrich-modal {

    .modal-content {
        border-radius: 24px;
        background-color: var(--card-background-solid);
        color: var(--modal-title-color);

        .modal-header {
            padding-bottom: 0;
            border-bottom: 0;
            color: var(--modal-title-color);


            .modal-title {
                font-size: 20px;
                font-weight: 600;
                color: var(--modal-title-color);

            }

            .btn-close {
                background-size: 12px;
                color: var(--modal-title-color);

                &:focus {
                    box-shadow: none;
                }
            }
        }

        .modal-footer {
            border-color: var(--note-background);
        }

        .modal-note {
            margin-top: 10px;
            background: var(--note-background);
            color: var(--note-color);
            padding: 10px 20px;
            display: flex;
            align-items: baseline;
            gap: 10px;
        }
    }
}


.modal-left {
    width: 300px;
    animation: slideInLeft 0.5s;

    .modal-dialog {
        position: absolute;
        left: 0;
        margin: 0;
        max-width: 300px;
        height: 100vh;

        .modal-content {
            border-radius: 0px 10px 10px 0px;

            .modal-header {
                padding: 8px 16px 0 8px;

                img {
                    max-height: 40px;
                }
            }

            .modal-sub-title {
                font-size: 16px;
                font-weight: 700;
                line-height: normal;
                color: var(--color-text-heading);
                padding: 8px 8px 0;
            }

            .modal-body {
                padding: 8px;

                .scheduled-session {
                    background-color: var(--card-background-solid);
                    color: var(--color-text-heading);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 3px 6px;
                    border-radius: 20px;

                    svg {
                        width: 14px;
                        height: 14px;
                        margin-right: 6px;
                    }

                    span {
                        font-size: 13px;
                        font-weight: 600;
                    }
                }

                .enrich-accordion {
                    .accordion-item {
                        .accordion-header {
                            .accordion-button {
                                .accordion-title {

                                    .couch {
                                        white-space: nowrap;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        padding-right: 10px;

                                        .couch-name {
                                            font-size: 12px;
                                        }

                                        .couch-designation {
                                            font-size: 10px;
                                        }
                                    }

                                    .accordion-img {
                                        width: 20px;
                                        height: 20px;
                                    }

                                    svg {
                                        width: 14px;
                                        height: 14px;
                                    }
                                }

                                .icons-div {
                                    .close-button {
                                        display: flex;
                                        padding: 4px;
                                        align-items: center;
                                        justify-content: center;

                                        svg {
                                            width: 14px;
                                            height: 14px;
                                        }
                                    }

                                    .arrow-icon {
                                        display: flex;
                                        padding: 4px;
                                        align-items: center;
                                        justify-content: center;

                                        svg {
                                            width: 14px;
                                            height: 14px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}




.modal-right {
    animation: slideInRight 0.5s;

    .modal-dialog {
        position: absolute;
        right: 0;
        margin: 0;
        max-width: 375px;
        height: 100vh;

        .modal-content {
            border-radius: 10px 0px 0px 10px;
        }
    }

    .profile-card {
        .input-fields-div {
            background: $gradient;

            .enrich-form-control {
                padding: 6px 12px;
                background: var(--card-background);
                border-radius: 6px;
                border: 1px solid var(--border-color);

                &:focus {
                    border-color: var(--color-primary);
                }
            }

            .enrich-form-control-select {
                padding: 6px 12px;
                background-color: var(--card-background);
                border-radius: 6px;
                border: 1px solid var(--border-color);

                &:focus {
                    border-color: var(--color-primary);
                }
            }
        }
    }
}


@keyframes slideInRight {
    from {
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.slideInRight {
    animation-name: slideInRight;
}

@keyframes slideInLeft {
    from {
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.slideInLeft {
    animation-name: slideInLeft;
}

@keyframes slideOutRight {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        transform: translate3d(100%, 0, 0);
    }
}

.slideOutRight {
    animation-name: slideOutRight;
}

@keyframes slideOutLeft {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        transform: translate3d(-100%, 0, 0);
    }
}

.slideOutLeft {
    animation-name: slideOutLeft;
}